.input {
	display: none;
	border: 2px solid;
	border-radius: 3px;

	background-color: transparent;
	color: #fff;
	font: inherit;
}

.input:focus {
	outline: none;
	display: block;
}

.wrapper {
	height: 20px;
}

.wrapper:hover .input {
	display: block;
}
