.tab {
	max-width: 250px;
	padding: 15px 50px;
	border-radius: 10px;

	background-color: var(--color-bisque);

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	cursor: pointer;
	user-select: none;
}

.tab.selected {
	background-color: var(--color-dark-bisque);
}
