.wrapper {
	position: relative;
}

.tab {
	min-width: 200px;
	min-height: 100%;
	border-radius: var(--border-radius-medium);

	background-color: var(--color-bisque);
	color: #000;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	cursor: pointer;
	user-select: none;
}

.tab.active {
	background-color: var(--color-dark-bisque);
}
