.tab {
	max-width: 250px;
	min-width: 160px;
	padding: 15px;
	border-radius: 10px;

	background-color: var(--color-bisque);

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	cursor: pointer;
	user-select: none;
}

.tab.selected {
	background-color: var(--color-dark-bisque);
}

.input {
	width: 75%;
	border: none;

	background-color: inherit;
	font: inherit;
}
