:root {
	--color-bisque: #ebe6e4;
	--color-dark-bisque: #e78863;
	--color-dark: #202124;
	--color-light: #dfdfe0;

	--border-radius-medium: 18px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;

	background-color: var(--color-dark);
	color: var(--color-light);
	font-family: monospace;
	font-size: 18px;
}

button {
	border: none;
	padding: 0;
	background-color: inherit;
	color: inherit;
	font: inherit;
}

button:focus-visible {
	outline: 2px solid blue;
	outline-offset: 3px;
}

li {
	list-style: none;
}
