:root {
	--color-bisque: #ebe6e4;
	--color-dark-bisque: #ebd3ca;

	--border-radius-medium: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;

	font-family: monospace;
	font-size: 18px;
}

button {
	border: none;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
}

li {
	list-style: none;
}
